/* 
    Dialog Styles 
*/
#dialog-title {
    font: 18px Georgia;
    margin: 20px 0px;
}

QDialog {
    background-color: #242526;
    border: 2px solid #1DBF53;
}

QDialog QLabel {
    font-size: 15px;
}

QDialog QLineEdit, QDialog QComboBox, QDialog QDateTimeEdit {
    padding-left: 7px;
}

QDialog QComboBox, QDialog QDateTimeEdit {
    background-color: white;
}

QDialog QLineEdit, QDialog QPushButton, QDialog QComboBox, QDialog QDateTimeEdit {
    height: 35px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid white;
}
QDialog QPushButton {
    margin: 15px 0px;
}

/* CALENDAR */
QCalendarWidget QToolButton, QCalendarWidget QWidget {
    font: 16px Arial;
    background-color: #242526;
}

QCalendarWidget QToolButton {
    height: 40px;
    icon-size: 28px;
}
 
QCalendarWidget QWidget { 
    color: #1DBF53; 
}
 