#view-title {
    font: normal normal 500 30px Georgia;
}

QTableWidget, QCheckBox, QLabel, QHeaderView::section {
    color: white
}

/* 
    Table Styles 
*/

/* Table Header */
QHeaderView::section {
    font: normal normal 500 15px Georgia;
}

QTableCornerButton::section, QHeaderView::section {
    border: none;
    min-height: 45px;
    background-color: #8C6D3F;
}

/* Table content */
QTableWidget {
    font-family: Arial;
}

QTableWidget QPushButton {
    border-color: white;
    font-size: 18px;
}

/* 
    Sidebar Styles 
*/
#sidebar {
    padding: 0px 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

QCheckBox {
    font-family: Arial;
}

QCheckBox::indicator {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #1DBF53;
}

QCheckBox::indicator:checked {
    background-color: #F3570C;
}

/* 
    Dialog Styles 
*/
#dialog-title {
    font: 18px Georgia;
    margin: 20px 0px;
}

QDialog {
    background-color: #242526;
    border: 2px solid #1DBF53;
}

QDialog QLabel {
    font-size: 15px;
}

QDialog QLineEdit, QDialog QComboBox, QDialog QDateTimeEdit {
    padding-left: 7px;
}

QDialog QComboBox, QDialog QDateTimeEdit {
    background-color: white;
}

QDialog QLineEdit, QDialog QPushButton, QDialog QComboBox, QDialog QDateTimeEdit {
    height: 35px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid white;
}
QDialog QPushButton {
    margin: 15px 0px;
}

/* CALENDAR */
QCalendarWidget QToolButton, QCalendarWidget QWidget {
    font: 16px Arial;
    background-color: #242526;
}

QCalendarWidget QToolButton {
    height: 40px;
    icon-size: 28px;
}
 
QCalendarWidget QWidget { 
    color: #1DBF53; 
}
 