/* 
    Dialog Styles 
*/
#dialog-title {
    font: 18px Georgia;
    margin: 20px 0px;
}

QDialog {
    background-color: #242526;
    border: 2px solid #1DBF53;
}

QDialog QLabel {
    font-size: 15px;
}

QDialog QLineEdit {
    padding-left: 7px;
}

QDialog QLineEdit, QDialog QPushButton {
    height: 35px;
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid white;
}
