#preview-sidebar QPushButton {
    height: 45px;
    margin: 0px 10px;
}

#preview-sidebar #title {
    font: 600 24px Arial;
    color: darkgray;
}

#preview-sidebar #data {
    font: 500 16px Arial;
    margin: 5px 5px 5px 10px;
    color: darkgray;
}

#preview-sidebar #bt-search-customer {
    font: 500 16px;
    background-color: #249AF2;
}

#preview-sidebar #bt-continue {
    height: 60px;
    font: 500 18px;
    border: 1px solid #249AF2;
}
#preview-sidebar #bt-continue:hover {
    border-color: #F3570C;
}

/* 
    Add Product by code
*/
#code-input-section {
    border-right: 1px solid darkgray;
}

#code-input-section #total {
    font: 500 55px Arial;
    color: #F29B18;
    border-left: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    margin-bottom: 5px;
}

#code-input, #bt-add-product {
    height: 60px;
    border-radius: 5px;
    font-size: 24px;
}

#code-input {
    padding: 0px 30px;
    /* text-transform: uppercase; */
}
/* #code-input::placeholder {
    text-transform: none;
} */

#bt-add-product {
        border: 1px solid #249AF2;
        color: white;
}
#bt-add-product:hover {
        border-color: #F3570C;
}

/*
    Configure selected product
*/
#configure-selected-product #title, #configure-selected-product #amount {
    font: 600 20px Arial;
    margin: 8px 5px;
}

#configure-selected-product #title {
    color: darkgray;
}

#configure-selected-product #amount {
    font-size: 30px;
    color: #F29B18;
}

#configure-selected-product #quantity,
#configure-selected-product #bt-add-product,
#configure-selected-product QComboBox {
    height: 45px;
    margin: 10px;
    border-radius: 5px;
}

#configure-selected-product #quantity {
    padding: 0px 10px;
}

/*
    Search Dialog
*/
#search-dialog #title {
    font: 600 20px Arial;
    margin: 8px 5px;
    color: darkgray;
}

#search-dialog #search-input, #search-dialog #bt-select {
    height: 45px;
    margin: 20px 0px;
    font-size: 16px;
    border-radius: 5px;
}

#search-dialog #search-input {
    padding-left: 10px;
}

#search-dialog #bt-select {
    border: 1px solid #249AF2;
}
#search-dialog #bt-select:hover {
    border-color: #F3570C;
}

/* 
    Register Movement
*/
#register-movement #title {
    font: 600 20px Arial;
    margin: 8px 5px;
    margin-bottom: 15px;
    color: darkgray;
}

#register-movement QLineEdit, 
#register-movement QPushButton,
#register-movement QComboBox {
    height: 45px;
    margin: 0px 0px;
    font-size: 16px;
    border-radius: 5px;
}

#register-movement QLineEdit, 
#register-movement QComboBox {
    padding: 0px 10px;
}

#register-movement QPlainTextEdit {
    padding: 10px;
    color: white;
    font-size: 16px;
    margin: 15px 0px;
    border: 1px solid #249AF2;
}

#register-movement QPushButton {
    margin: 10px 0px;
    border: 1px solid #249AF2;
}
#register-movement QPushButton:hover {
    border: 1px solid #F3570C;
}

/* 
    Sale summary
*/
#sale-summary {
    font-size: 20px;
}

#sale-summary #title {
    font: 600 20px Arial;
    margin: 8px 5px;
    margin-bottom: 15px;
    color: darkgray;
}

#sale-summary #total, 
#sale-summary #change-amount{
    font-size: 36px;
}

#sale-summary #value-label {
    font: 600 26px Arial;
    margin: 8px 5px;
    margin-bottom: 15px;
    color: darkgray;
}

#sale-summary #customer-data {
    font: 500 16px Arial;
    color: #1DBF53;
    padding-bottom: 8px;
    border-bottom: 1px solid darkgray;
}

#sale-summary #input-amount {
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    padding: 0px 10px;
}
#sale-summary #input-amount, 
#sale-summary #bt-save {
    margin: 15px 30px;
}

#sale-summary #total, 
#sale-summary #change-amount {
    color: #F29B18;
}

#sale-summary #bt-save {
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 25px;
    border: 1px solid #249AF2;
}
#sale-summary #bt-save:hover {
    border-color: #F29B18;
}
#sale-summary #bt-save:disabled {
    color: darkgray;
    border-color: #F20600;
}



